/* ensure all pages have Bootstrap CSS */
@import "bootstrap/dist/css/bootstrap.min.css";

html,
/* body {
    height: 100%;
    width: 100%;
} */


body {
    /* background-image: url('../../public/backdrop.jpeg'); */
    transition-property: background-image;
    transition-duration: 2s;
    transition-timing-function: linear;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 20%;
}

.md-container {
    max-width: 800px;
    padding-top: 2rem;
}

.sml-card {
    width: 22rem;
    margin: 1rem 0;
}

.cntr-footer {
    height: 80px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid #ccc;
}

.sml-logo {
    height: 1em;
    margin-left: 10px;
}