/* Desktop-only view. 
 * Largest mobile view is iPad Pro with 1366 in landscape mode
 */
@media only screen and (min-width:1367px) {
    :root {
        --bg-image-jpg: url('../../public/horsetooth.jpeg');
        --bg-size: cover;
        --bg-pos: center center;
    }
}

/* Mobile device screens */
@media only screen and (max-width:1366px) {
    :root {
        /* --bg-image-jpg: url('../../public/horsetooth.jpeg'); //excluding for now */
        --bg-pos: top center;
        --bg-size: 100% auto;
        --bg-color: GhostWhite;
    }
}

html,
body {
    height: 100vh;
    width: 100vw;
    max-width: 100vw;
    background-image: var(--bg-image-jpg);
    background-position: var(--bg-pos);
    background-color: var(--bg-color);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: var(--bg-size);
    overflow-x: hidden;
}

body {
    position: relative
}